USE [master]
GO
/****** Object:  Database [quota_import]    Script Date: 19/12/2025 13:45:48 ******/
CREATE DATABASE [quota_import]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'quota_import', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\quota_import.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'quota_import_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\quota_import_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [quota_import].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [quota_import]
GO
/****** Object:  Table [dbo].[audit_logs]    Script Date: 19/12/2025 13:45:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[audit_logs](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NULL,
	[method] [nvarchar](10) NOT NULL,
	[path] [nvarchar](255) NOT NULL,
	[route_name] [nvarchar](255) NULL,
	[action] [nvarchar](255) NULL,
	[description] [nvarchar](max) NULL,
	[ip_address] [nvarchar](45) NULL,
	[user_agent] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cache]    Script Date: 19/12/2025 13:45:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cache](
	[key] [nvarchar](255) NOT NULL,
	[value] [nvarchar](max) NOT NULL,
	[expiration] [int] NOT NULL,
 CONSTRAINT [cache_key_primary] PRIMARY KEY CLUSTERED 
(
	[key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cache_locks]    Script Date: 19/12/2025 13:45:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cache_locks](
	[key] [nvarchar](255) NOT NULL,
	[owner] [nvarchar](255) NOT NULL,
	[expiration] [int] NOT NULL,
 CONSTRAINT [cache_locks_key_primary] PRIMARY KEY CLUSTERED 
(
	[key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[factories]    Script Date: 19/12/2025 13:45:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[factories](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[address] [nvarchar](max) NOT NULL,
	[country] [nvarchar](255) NOT NULL,
	[contact_person] [nvarchar](255) NULL,
	[phone] [nvarchar](255) NULL,
	[email] [nvarchar](255) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[deleted_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[failed_jobs]    Script Date: 19/12/2025 13:45:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[failed_jobs](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[uuid] [nvarchar](255) NOT NULL,
	[connection] [nvarchar](max) NOT NULL,
	[queue] [nvarchar](max) NOT NULL,
	[payload] [nvarchar](max) NOT NULL,
	[exception] [nvarchar](max) NOT NULL,
	[failed_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[gr_receipts]    Script Date: 19/12/2025 13:45:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[gr_receipts](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[po_no] [nvarchar](255) NOT NULL,
	[line_no] [nvarchar](255) NOT NULL,
	[invoice_no] [nvarchar](255) NULL,
	[receive_date] [date] NOT NULL,
	[qty] [decimal](18, 2) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[gr_unique] [nvarchar](64) NULL,
	[cat_po] [nvarchar](20) NULL,
	[item_name] [nvarchar](255) NULL,
	[vendor_code] [nvarchar](50) NULL,
	[vendor_name] [nvarchar](255) NULL,
	[wh_code] [nvarchar](50) NULL,
	[wh_name] [nvarchar](255) NULL,
	[sloc_code] [nvarchar](50) NULL,
	[sloc_name] [nvarchar](255) NULL,
	[currency] [nvarchar](20) NULL,
	[amount] [decimal](18, 2) NULL,
	[deliv_amount] [decimal](18, 2) NULL,
	[line_no_int]  AS (case when nullif(ltrim(rtrim([line_no])),'') IS NULL then NULL when NOT ltrim(rtrim([line_no])) like '%[^0-9]%' then CONVERT([int],ltrim(rtrim([line_no])))  end) PERSISTED,
	[cat_po_desc] [nvarchar](255) NULL,
	[mat_doc] [nvarchar](50) NULL,
	[cat] [nvarchar](50) NULL,
	[cat_desc] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hs_code_pk_mappings]    Script Date: 19/12/2025 13:45:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hs_code_pk_mappings](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[hs_code] [nvarchar](255) NOT NULL,
	[pk_capacity] [decimal](4, 2) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[period_key] [nvarchar](10) NOT NULL,
	[desc] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[import_items]    Script Date: 19/12/2025 13:45:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[import_items](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[import_id] [bigint] NOT NULL,
	[row_index] [int] NOT NULL,
	[raw_json] [nvarchar](max) NULL,
	[normalized_json] [nvarchar](max) NULL,
	[errors_json] [nvarchar](max) NULL,
	[status] [nvarchar](255) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[imports]    Script Date: 19/12/2025 13:45:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[imports](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[type] [nvarchar](255) NOT NULL,
	[period_key] [nvarchar](255) NULL,
	[source_filename] [nvarchar](255) NULL,
	[stored_path] [nvarchar](255) NULL,
	[status] [nvarchar](255) NOT NULL,
	[notes] [nvarchar](max) NULL,
	[created_by] [bigint] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[total_rows] [int] NOT NULL,
	[valid_rows] [int] NOT NULL,
	[error_rows] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[invoices]    Script Date: 19/12/2025 13:45:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[invoices](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[po_no] [nvarchar](255) NOT NULL,
	[line_no] [nvarchar](255) NOT NULL,
	[invoice_no] [nvarchar](255) NOT NULL,
	[invoice_date] [date] NULL,
	[qty] [decimal](18, 2) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[job_batches]    Script Date: 19/12/2025 13:45:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[job_batches](
	[id] [nvarchar](255) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[total_jobs] [int] NOT NULL,
	[pending_jobs] [int] NOT NULL,
	[failed_jobs] [int] NOT NULL,
	[failed_job_ids] [nvarchar](max) NOT NULL,
	[options] [nvarchar](max) NULL,
	[cancelled_at] [int] NULL,
	[created_at] [int] NOT NULL,
	[finished_at] [int] NULL,
 CONSTRAINT [job_batches_id_primary] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[jobs]    Script Date: 19/12/2025 13:45:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[jobs](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[queue] [nvarchar](255) NOT NULL,
	[payload] [nvarchar](max) NOT NULL,
	[attempts] [tinyint] NOT NULL,
	[reserved_at] [int] NULL,
	[available_at] [int] NOT NULL,
	[created_at] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mapping_versions]    Script Date: 19/12/2025 13:45:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mapping_versions](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[type] [nvarchar](255) NOT NULL,
	[period_key] [nvarchar](255) NOT NULL,
	[version] [int] NOT NULL,
	[notes] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[migrations]    Script Date: 19/12/2025 13:45:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[migrations](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[migration] [nvarchar](255) NOT NULL,
	[batch] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[password_reset_tokens]    Script Date: 19/12/2025 13:45:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[password_reset_tokens](
	[email] [nvarchar](255) NOT NULL,
	[token] [nvarchar](255) NOT NULL,
	[created_at] [datetime] NULL,
 CONSTRAINT [password_reset_tokens_email_primary] PRIMARY KEY CLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[permission_role]    Script Date: 19/12/2025 13:45:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[permission_role](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[permission_id] [bigint] NOT NULL,
	[role_id] [bigint] NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[permissions]    Script Date: 19/12/2025 13:45:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[permissions](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[display_name] [nvarchar](255) NULL,
	[group] [nvarchar](255) NULL,
	[description] [nvarchar](255) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[po_headers]    Script Date: 19/12/2025 13:45:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[po_headers](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[po_number] [nvarchar](255) NOT NULL,
	[po_date] [date] NOT NULL,
	[supplier] [nvarchar](255) NOT NULL,
	[currency] [nvarchar](255) NULL,
	[note] [nvarchar](max) NULL,
	[published_at] [datetime] NULL,
	[created_by] [bigint] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[vendor_number] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[po_line_voyage_splits]    Script Date: 19/12/2025 13:45:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[po_line_voyage_splits](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[po_line_id] [bigint] NOT NULL,
	[seq_no] [int] NOT NULL,
	[qty] [decimal](18, 2) NOT NULL,
	[voyage_bl] [nvarchar](100) NULL,
	[voyage_etd] [date] NULL,
	[voyage_eta] [date] NULL,
	[voyage_factory] [nvarchar](100) NULL,
	[voyage_status] [nvarchar](50) NULL,
	[voyage_remark] [nvarchar](max) NULL,
	[created_by] [bigint] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[po_lines]    Script Date: 19/12/2025 13:45:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[po_lines](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[po_header_id] [bigint] NOT NULL,
	[model_code] [nvarchar](255) NOT NULL,
	[hs_code_id] [bigint] NOT NULL,
	[qty_ordered] [decimal](18, 2) NOT NULL,
	[qty_received] [decimal](18, 2) NOT NULL,
	[uom] [nvarchar](255) NULL,
	[eta_date] [date] NULL,
	[validation_status] [nvarchar](255) NOT NULL,
	[validation_notes] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[line_no] [nvarchar](255) NULL,
	[item_desc] [nvarchar](255) NULL,
	[warehouse_code] [nvarchar](50) NULL,
	[warehouse_name] [nvarchar](255) NULL,
	[warehouse_source] [nvarchar](50) NULL,
	[subinventory_code] [nvarchar](50) NULL,
	[subinventory_name] [nvarchar](255) NULL,
	[subinventory_source] [nvarchar](50) NULL,
	[amount] [decimal](18, 2) NULL,
	[category_code] [nvarchar](50) NULL,
	[category] [nvarchar](255) NULL,
	[material_group] [nvarchar](100) NULL,
	[sap_order_status] [nvarchar](100) NULL,
	[forecast_allocated_at] [datetime] NULL,
	[qty_to_invoice] [decimal](18, 2) NULL,
	[qty_to_deliver] [decimal](18, 2) NULL,
	[storage_location] [nvarchar](100) NULL,
	[needs_reallocation] [bit] NOT NULL,
	[line_no_int]  AS (case when nullif(ltrim(rtrim([line_no])),'') IS NULL then NULL when NOT ltrim(rtrim([line_no])) like '%[^0-9]%' then CONVERT([int],ltrim(rtrim([line_no])))  end) PERSISTED,
	[voyage_bl] [nvarchar](100) NULL,
	[voyage_etd] [date] NULL,
	[voyage_eta] [date] NULL,
	[voyage_factory] [nvarchar](100) NULL,
	[voyage_status] [nvarchar](50) NULL,
	[voyage_issue_date] [date] NULL,
	[voyage_expired_date] [date] NULL,
	[voyage_remark] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_quota_mappings]    Script Date: 19/12/2025 13:45:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_quota_mappings](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[product_id] [bigint] NOT NULL,
	[quota_id] [bigint] NOT NULL,
	[priority] [int] NOT NULL,
	[is_primary] [bit] NOT NULL,
	[notes] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[source] [nvarchar](20) NOT NULL,
	[period_key] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 19/12/2025 13:45:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](255) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[sap_model] [nvarchar](255) NULL,
	[category] [nvarchar](255) NULL,
	[pk_capacity] [decimal](5, 2) NULL,
	[description] [nvarchar](max) NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[deleted_at] [datetime] NULL,
	[hs_code] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[purchase_order_quota]    Script Date: 19/12/2025 13:45:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[purchase_order_quota](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[purchase_order_id] [bigint] NOT NULL,
	[quota_id] [bigint] NOT NULL,
	[allocated_qty] [int] NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[purchase_orders]    Script Date: 19/12/2025 13:45:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[purchase_orders](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[sequence_number] [bigint] NULL,
	[period] [nvarchar](255) NULL,
	[sap_reference] [nvarchar](255) NULL,
	[product_id] [bigint] NOT NULL,
	[quota_id] [bigint] NULL,
	[quantity_shipped] [int] NOT NULL,
	[quantity_received] [int] NOT NULL,
	[pgi_branch] [nvarchar](255) NULL,
	[customer_name] [nvarchar](255) NULL,
	[pic_name] [nvarchar](255) NULL,
	[status_po_display] [nvarchar](255) NULL,
	[truck] [nvarchar](255) NULL,
	[moq] [nvarchar](255) NULL,
	[plant_name] [nvarchar](255) NOT NULL,
	[plant_detail] [nvarchar](max) NOT NULL,
	[status] [nvarchar](255) NOT NULL,
	[forecast_deducted_at] [datetime] NULL,
	[actual_completed_at] [datetime] NULL,
	[created_by] [bigint] NULL,
	[remarks] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[deleted_at] [datetime] NULL,
	[vendor_name] [nvarchar](255) NULL,
	[item_code] [nvarchar](255) NULL,
	[amount] [decimal](18, 2) NULL,
	[sap_order_status] [nvarchar](100) NULL,
	[po_doc] [nvarchar](50) NULL,
	[created_date] [date] NULL,
	[vendor_no] [nvarchar](50) NULL,
	[line_no] [nvarchar](30) NULL,
	[item_desc] [nvarchar](max) NULL,
	[wh_code] [nvarchar](50) NULL,
	[wh_name] [nvarchar](255) NULL,
	[subinv_code] [nvarchar](50) NULL,
	[subinv_name] [nvarchar](255) NULL,
	[wh_source] [nvarchar](100) NULL,
	[subinv_source] [nvarchar](100) NULL,
	[qty] [decimal](18, 2) NULL,
	[cat_po] [nvarchar](50) NULL,
	[cat_desc] [nvarchar](255) NULL,
	[mat_grp] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[quota_histories]    Script Date: 19/12/2025 13:45:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[quota_histories](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[quota_id] [bigint] NOT NULL,
	[change_type] [nvarchar](255) NOT NULL,
	[quantity_change] [int] NOT NULL,
	[occurred_on] [date] NOT NULL,
	[reference_type] [nvarchar](255) NULL,
	[reference_id] [bigint] NULL,
	[description] [nvarchar](max) NULL,
	[meta] [nvarchar](max) NULL,
	[created_by] [bigint] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[quotas]    Script Date: 19/12/2025 13:45:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[quotas](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[quota_number] [nvarchar](255) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[government_category] [nvarchar](255) NOT NULL,
	[period_start] [date] NULL,
	[period_end] [date] NULL,
	[total_allocation] [int] NOT NULL,
	[forecast_remaining] [int] NOT NULL,
	[actual_remaining] [int] NOT NULL,
	[status] [nvarchar](255) NOT NULL,
	[is_active] [bit] NOT NULL,
	[source_document] [nvarchar](255) NULL,
	[notes] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[deleted_at] [datetime] NULL,
	[min_pk] [decimal](4, 2) NULL,
	[max_pk] [decimal](4, 2) NULL,
	[is_min_inclusive] [bit] NOT NULL,
	[is_max_inclusive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role_user]    Script Date: 19/12/2025 13:45:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role_user](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[role_id] [bigint] NOT NULL,
	[user_id] [bigint] NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 19/12/2025 13:45:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[display_name] [nvarchar](255) NULL,
	[description] [nvarchar](max) NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sessions]    Script Date: 19/12/2025 13:45:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sessions](
	[id] [nvarchar](255) NOT NULL,
	[user_id] [bigint] NULL,
	[ip_address] [nvarchar](45) NULL,
	[user_agent] [nvarchar](max) NULL,
	[payload] [nvarchar](max) NOT NULL,
	[last_activity] [int] NOT NULL,
 CONSTRAINT [sessions_id_primary] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[shipment_receipts]    Script Date: 19/12/2025 13:45:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[shipment_receipts](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[shipment_id] [bigint] NOT NULL,
	[receipt_date] [date] NOT NULL,
	[quantity_received] [int] NOT NULL,
	[document_number] [nvarchar](255) NULL,
	[notes] [nvarchar](max) NULL,
	[created_by] [bigint] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[shipment_status_logs]    Script Date: 19/12/2025 13:45:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[shipment_status_logs](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[shipment_id] [bigint] NOT NULL,
	[status] [nvarchar](50) NOT NULL,
	[description] [nvarchar](max) NULL,
	[quantity_planned_snapshot] [int] NULL,
	[quantity_received_snapshot] [int] NULL,
	[recorded_at] [datetime] NOT NULL,
	[meta] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[shipments]    Script Date: 19/12/2025 13:45:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[shipments](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[shipment_number] [nvarchar](255) NOT NULL,
	[purchase_order_id] [bigint] NOT NULL,
	[parent_shipment_id] [bigint] NULL,
	[quantity_planned] [int] NOT NULL,
	[quantity_received] [int] NOT NULL,
	[ship_date] [date] NULL,
	[eta_date] [date] NULL,
	[receipt_date] [date] NULL,
	[status] [nvarchar](255) NOT NULL,
	[detail] [nvarchar](max) NULL,
	[auto_generated] [bit] NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[deleted_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 19/12/2025 13:45:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[email_verified_at] [datetime] NULL,
	[password] [nvarchar](255) NOT NULL,
	[is_active] [bit] NOT NULL,
	[last_login_at] [datetime] NULL,
	[remember_token] [nvarchar](100) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[audit_logs] ON 

INSERT [dbo].[audit_logs] ([id], [user_id], [method], [path], [route_name], [action], [description], [ip_address], [user_agent], [created_at], [updated_at]) VALUES (1, 1, N'POST', N'/login', NULL, N'POST login', N'{"_token":"[REDACTED]","email":"admin@example.com","password":"[REDACTED]","response_status":302,"duration_ms":1312}', N'127.0.0.1', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.0.0 Safari/537.36', CAST(N'2025-12-19T06:40:49.863' AS DateTime), CAST(N'2025-12-19T06:40:49.863' AS DateTime))
SET IDENTITY_INSERT [dbo].[audit_logs] OFF
GO
SET IDENTITY_INSERT [dbo].[hs_code_pk_mappings] ON 

INSERT [dbo].[hs_code_pk_mappings] ([id], [hs_code], [pk_capacity], [created_at], [updated_at], [period_key], [desc]) VALUES (1, N'8415.10.20', CAST(7.99 AS Decimal(4, 2)), CAST(N'2025-12-19T06:41:15.260' AS DateTime), CAST(N'2025-12-19T06:41:15.260' AS DateTime), N'', N'<8PK')
INSERT [dbo].[hs_code_pk_mappings] ([id], [hs_code], [pk_capacity], [created_at], [updated_at], [period_key], [desc]) VALUES (2, N'8415.10.30', CAST(9.00 AS Decimal(4, 2)), CAST(N'2025-12-19T06:41:24.573' AS DateTime), CAST(N'2025-12-19T06:41:24.573' AS DateTime), N'', N'8PK - 10PK')
INSERT [dbo].[hs_code_pk_mappings] ([id], [hs_code], [pk_capacity], [created_at], [updated_at], [period_key], [desc]) VALUES (3, N'8415.10.90', CAST(10.01 AS Decimal(4, 2)), CAST(N'2025-12-19T06:41:33.237' AS DateTime), CAST(N'2025-12-19T06:41:33.237' AS DateTime), N'', N'>10PK')
SET IDENTITY_INSERT [dbo].[hs_code_pk_mappings] OFF
GO
SET IDENTITY_INSERT [dbo].[migrations] ON 

INSERT [dbo].[migrations] ([id], [migration], [batch]) VALUES (1, N'0001_01_01_000000_create_users_table', 1)
INSERT [dbo].[migrations] ([id], [migration], [batch]) VALUES (2, N'0001_01_01_000001_create_cache_table', 1)
INSERT [dbo].[migrations] ([id], [migration], [batch]) VALUES (3, N'0001_01_01_000002_create_jobs_table', 1)
SET IDENTITY_INSERT [dbo].[migrations] OFF
GO
SET IDENTITY_INSERT [dbo].[permission_role] ON 

INSERT [dbo].[permission_role] ([id], [permission_id], [role_id], [created_at], [updated_at]) VALUES (1, 1, 1, CAST(N'2025-12-19T06:40:38.880' AS DateTime), CAST(N'2025-12-19T06:40:38.880' AS DateTime))
INSERT [dbo].[permission_role] ([id], [permission_id], [role_id], [created_at], [updated_at]) VALUES (2, 2, 1, CAST(N'2025-12-19T06:40:38.910' AS DateTime), CAST(N'2025-12-19T06:40:38.910' AS DateTime))
INSERT [dbo].[permission_role] ([id], [permission_id], [role_id], [created_at], [updated_at]) VALUES (3, 3, 1, CAST(N'2025-12-19T06:40:38.913' AS DateTime), CAST(N'2025-12-19T06:40:38.913' AS DateTime))
SET IDENTITY_INSERT [dbo].[permission_role] OFF
GO
SET IDENTITY_INSERT [dbo].[permissions] ON 

INSERT [dbo].[permissions] ([id], [name], [display_name], [group], [description], [created_at], [updated_at]) VALUES (1, N'create', N'Create', N'Global', N'Create any resource across the system.', CAST(N'2025-12-19T06:40:38.800' AS DateTime), CAST(N'2025-12-19T06:40:38.800' AS DateTime))
INSERT [dbo].[permissions] ([id], [name], [display_name], [group], [description], [created_at], [updated_at]) VALUES (2, N'read', N'Read', N'Global', N'Read access to all modules.', CAST(N'2025-12-19T06:40:38.840' AS DateTime), CAST(N'2025-12-19T06:40:38.840' AS DateTime))
INSERT [dbo].[permissions] ([id], [name], [display_name], [group], [description], [created_at], [updated_at]) VALUES (3, N'read limited', N'Read Limited', N'Global', N'Read access to operational modules only (no administration).', CAST(N'2025-12-19T06:40:38.847' AS DateTime), CAST(N'2025-12-19T06:40:38.847' AS DateTime))
SET IDENTITY_INSERT [dbo].[permissions] OFF
GO
SET IDENTITY_INSERT [dbo].[role_user] ON 

INSERT [dbo].[role_user] ([id], [role_id], [user_id], [created_at], [updated_at]) VALUES (1, 1, 1, CAST(N'2025-12-19T06:40:39.330' AS DateTime), CAST(N'2025-12-19T06:40:39.330' AS DateTime))
INSERT [dbo].[role_user] ([id], [role_id], [user_id], [created_at], [updated_at]) VALUES (2, 2, 2, CAST(N'2025-12-19T06:40:39.850' AS DateTime), CAST(N'2025-12-19T06:40:39.850' AS DateTime))
SET IDENTITY_INSERT [dbo].[role_user] OFF
GO
SET IDENTITY_INSERT [dbo].[roles] ON 

INSERT [dbo].[roles] ([id], [name], [display_name], [description], [is_active], [created_at], [updated_at]) VALUES (1, N'admin', N'Administrator', N'Full system access with all permissions.', 1, CAST(N'2025-12-19T06:40:38.863' AS DateTime), CAST(N'2025-12-19T06:40:38.863' AS DateTime))
INSERT [dbo].[roles] ([id], [name], [display_name], [description], [is_active], [created_at], [updated_at]) VALUES (2, N'user', N'User', N'Read-only access to overview & operational (no administration).', 1, CAST(N'2025-12-19T06:40:38.870' AS DateTime), CAST(N'2025-12-19T06:40:38.870' AS DateTime))
SET IDENTITY_INSERT [dbo].[roles] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [name], [email], [email_verified_at], [password], [is_active], [last_login_at], [remember_token], [created_at], [updated_at]) VALUES (1, N'Super Administrator', N'admin@example.com', CAST(N'2025-12-19T06:40:39.237' AS DateTime), N'$2y$12$25lkzaMgwxUX4HvhyrfmA.5o7fbdE4IFt8jqn8EY2.rg1C/gxzLfm', 1, CAST(N'2025-12-19T06:40:49.800' AS DateTime), NULL, CAST(N'2025-12-19T06:40:39.240' AS DateTime), CAST(N'2025-12-19T06:40:49.803' AS DateTime))
INSERT [dbo].[users] ([id], [name], [email], [email_verified_at], [password], [is_active], [last_login_at], [remember_token], [created_at], [updated_at]) VALUES (2, N'Regular User', N'user@example.com', CAST(N'2025-12-19T06:40:39.703' AS DateTime), N'$2y$12$v1Mw7zBaTSegPfR3VYSgmeJXsmXKiu3GvI1.Ve24ABIA1LOLFba22', 1, NULL, NULL, CAST(N'2025-12-19T06:40:39.707' AS DateTime), CAST(N'2025-12-19T06:40:39.707' AS DateTime))
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [audit_logs_method_index]    Script Date: 19/12/2025 13:45:49 ******/
CREATE NONCLUSTERED INDEX [audit_logs_method_index] ON [dbo].[audit_logs]
(
	[method] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [audit_logs_route_name_index]    Script Date: 19/12/2025 13:45:49 ******/
CREATE NONCLUSTERED INDEX [audit_logs_route_name_index] ON [dbo].[audit_logs]
(
	[route_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [audit_logs_user_id_created_at_index]    Script Date: 19/12/2025 13:45:49 ******/
CREATE NONCLUSTERED INDEX [audit_logs_user_id_created_at_index] ON [dbo].[audit_logs]
(
	[user_id] ASC,
	[created_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [failed_jobs_uuid_unique]    Script Date: 19/12/2025 13:45:49 ******/
CREATE UNIQUE NONCLUSTERED INDEX [failed_jobs_uuid_unique] ON [dbo].[failed_jobs]
(
	[uuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [gr_receipts_gr_unique_unique]    Script Date: 19/12/2025 13:45:49 ******/
CREATE UNIQUE NONCLUSTERED INDEX [gr_receipts_gr_unique_unique] ON [dbo].[gr_receipts]
(
	[gr_unique] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [gr_receipts_po_no_line_no_index]    Script Date: 19/12/2025 13:45:49 ******/
CREATE NONCLUSTERED INDEX [gr_receipts_po_no_line_no_index] ON [dbo].[gr_receipts]
(
	[po_no] ASC,
	[line_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ARITHABORT ON
SET CONCAT_NULL_YIELDS_NULL ON
SET QUOTED_IDENTIFIER ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
SET NUMERIC_ROUNDABORT OFF
GO
/****** Object:  Index [gr_receipts_po_no_line_no_int_idx]    Script Date: 19/12/2025 13:45:49 ******/
CREATE NONCLUSTERED INDEX [gr_receipts_po_no_line_no_int_idx] ON [dbo].[gr_receipts]
(
	[po_no] ASC,
	[line_no_int] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [hs_code_period_unique]    Script Date: 19/12/2025 13:45:49 ******/
CREATE UNIQUE NONCLUSTERED INDEX [hs_code_period_unique] ON [dbo].[hs_code_pk_mappings]
(
	[hs_code] ASC,
	[period_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [hs_code_pk_mappings_desc_index]    Script Date: 19/12/2025 13:45:49 ******/
CREATE NONCLUSTERED INDEX [hs_code_pk_mappings_desc_index] ON [dbo].[hs_code_pk_mappings]
(
	[desc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [hs_code_pk_mappings_hs_code_index]    Script Date: 19/12/2025 13:45:49 ******/
CREATE NONCLUSTERED INDEX [hs_code_pk_mappings_hs_code_index] ON [dbo].[hs_code_pk_mappings]
(
	[hs_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [hs_code_pk_mappings_period_key_index]    Script Date: 19/12/2025 13:45:49 ******/
CREATE NONCLUSTERED INDEX [hs_code_pk_mappings_period_key_index] ON [dbo].[hs_code_pk_mappings]
(
	[period_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [import_items_import_id_row_index_index]    Script Date: 19/12/2025 13:45:49 ******/
CREATE NONCLUSTERED INDEX [import_items_import_id_row_index_index] ON [dbo].[import_items]
(
	[import_id] ASC,
	[row_index] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [import_items_import_status_row_index]    Script Date: 19/12/2025 13:45:49 ******/
CREATE NONCLUSTERED INDEX [import_items_import_status_row_index] ON [dbo].[import_items]
(
	[import_id] ASC,
	[status] ASC,
	[row_index] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [imports_type_period_key_index]    Script Date: 19/12/2025 13:45:49 ******/
CREATE NONCLUSTERED INDEX [imports_type_period_key_index] ON [dbo].[imports]
(
	[type] ASC,
	[period_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [invoices_po_no_line_no_index]    Script Date: 19/12/2025 13:45:49 ******/
CREATE NONCLUSTERED INDEX [invoices_po_no_line_no_index] ON [dbo].[invoices]
(
	[po_no] ASC,
	[line_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [invoices_unique_key]    Script Date: 19/12/2025 13:45:49 ******/
CREATE UNIQUE NONCLUSTERED INDEX [invoices_unique_key] ON [dbo].[invoices]
(
	[po_no] ASC,
	[line_no] ASC,
	[invoice_no] ASC,
	[qty] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [jobs_queue_index]    Script Date: 19/12/2025 13:45:49 ******/
CREATE NONCLUSTERED INDEX [jobs_queue_index] ON [dbo].[jobs]
(
	[queue] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [mapping_versions_unique]    Script Date: 19/12/2025 13:45:49 ******/
CREATE UNIQUE NONCLUSTERED INDEX [mapping_versions_unique] ON [dbo].[mapping_versions]
(
	[type] ASC,
	[period_key] ASC,
	[version] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [permission_role_permission_id_role_id_unique]    Script Date: 19/12/2025 13:45:49 ******/
CREATE UNIQUE NONCLUSTERED INDEX [permission_role_permission_id_role_id_unique] ON [dbo].[permission_role]
(
	[permission_id] ASC,
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [permissions_name_unique]    Script Date: 19/12/2025 13:45:49 ******/
CREATE UNIQUE NONCLUSTERED INDEX [permissions_name_unique] ON [dbo].[permissions]
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [po_headers_po_number_unique]    Script Date: 19/12/2025 13:45:49 ******/
CREATE UNIQUE NONCLUSTERED INDEX [po_headers_po_number_unique] ON [dbo].[po_headers]
(
	[po_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [po_line_voyage_splits_po_line_id_seq_no_index]    Script Date: 19/12/2025 13:45:49 ******/
CREATE NONCLUSTERED INDEX [po_line_voyage_splits_po_line_id_seq_no_index] ON [dbo].[po_line_voyage_splits]
(
	[po_line_id] ASC,
	[seq_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [po_lines_header_line_idx]    Script Date: 19/12/2025 13:45:49 ******/
CREATE NONCLUSTERED INDEX [po_lines_header_line_idx] ON [dbo].[po_lines]
(
	[po_header_id] ASC,
	[line_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [po_lines_line_no_index]    Script Date: 19/12/2025 13:45:49 ******/
CREATE NONCLUSTERED INDEX [po_lines_line_no_index] ON [dbo].[po_lines]
(
	[line_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [po_lines_model_code_index]    Script Date: 19/12/2025 13:45:49 ******/
CREATE NONCLUSTERED INDEX [po_lines_model_code_index] ON [dbo].[po_lines]
(
	[model_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ARITHABORT ON
SET CONCAT_NULL_YIELDS_NULL ON
SET QUOTED_IDENTIFIER ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
SET NUMERIC_ROUNDABORT OFF
GO
/****** Object:  Index [po_lines_po_header_id_line_no_int_idx]    Script Date: 19/12/2025 13:45:49 ******/
CREATE NONCLUSTERED INDEX [po_lines_po_header_id_line_no_int_idx] ON [dbo].[po_lines]
(
	[po_header_id] ASC,
	[line_no_int] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [pqm_product_period_priority_idx]    Script Date: 19/12/2025 13:45:49 ******/
CREATE NONCLUSTERED INDEX [pqm_product_period_priority_idx] ON [dbo].[product_quota_mappings]
(
	[product_id] ASC,
	[period_key] ASC,
	[priority] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [pqm_product_quota_period_unique]    Script Date: 19/12/2025 13:45:49 ******/
CREATE UNIQUE NONCLUSTERED INDEX [pqm_product_quota_period_unique] ON [dbo].[product_quota_mappings]
(
	[product_id] ASC,
	[quota_id] ASC,
	[period_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [products_code_unique]    Script Date: 19/12/2025 13:45:49 ******/
CREATE UNIQUE NONCLUSTERED INDEX [products_code_unique] ON [dbo].[products]
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [products_hs_code_index]    Script Date: 19/12/2025 13:45:49 ******/
CREATE NONCLUSTERED INDEX [products_hs_code_index] ON [dbo].[products]
(
	[hs_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [po_quota_quota_id_idx]    Script Date: 19/12/2025 13:45:49 ******/
CREATE NONCLUSTERED INDEX [po_quota_quota_id_idx] ON [dbo].[purchase_order_quota]
(
	[quota_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [po_quota_unique]    Script Date: 19/12/2025 13:45:49 ******/
CREATE UNIQUE NONCLUSTERED INDEX [po_quota_unique] ON [dbo].[purchase_order_quota]
(
	[purchase_order_id] ASC,
	[quota_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [po_period_index]    Script Date: 19/12/2025 13:45:49 ******/
CREATE NONCLUSTERED INDEX [po_period_index] ON [dbo].[purchase_orders]
(
	[period] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [po_product_id_index]    Script Date: 19/12/2025 13:45:49 ******/
CREATE NONCLUSTERED INDEX [po_product_id_index] ON [dbo].[purchase_orders]
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [po_quota_id_index]    Script Date: 19/12/2025 13:45:49 ******/
CREATE NONCLUSTERED INDEX [po_quota_id_index] ON [dbo].[purchase_orders]
(
	[quota_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [po_status_index]    Script Date: 19/12/2025 13:45:49 ******/
CREATE NONCLUSTERED INDEX [po_status_index] ON [dbo].[purchase_orders]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [purchase_orders_po_doc_unique]    Script Date: 19/12/2025 13:45:49 ******/
CREATE UNIQUE NONCLUSTERED INDEX [purchase_orders_po_doc_unique] ON [dbo].[purchase_orders]
(
	[po_doc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [quota_histories_occurred_idx]    Script Date: 19/12/2025 13:45:49 ******/
CREATE NONCLUSTERED INDEX [quota_histories_occurred_idx] ON [dbo].[quota_histories]
(
	[occurred_on] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [quota_histories_quota_change_idx]    Script Date: 19/12/2025 13:45:49 ******/
CREATE NONCLUSTERED INDEX [quota_histories_quota_change_idx] ON [dbo].[quota_histories]
(
	[quota_id] ASC,
	[change_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [quotas_is_active_index]    Script Date: 19/12/2025 13:45:49 ******/
CREATE NONCLUSTERED INDEX [quotas_is_active_index] ON [dbo].[quotas]
(
	[is_active] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [quotas_period_end_index]    Script Date: 19/12/2025 13:45:49 ******/
CREATE NONCLUSTERED INDEX [quotas_period_end_index] ON [dbo].[quotas]
(
	[period_end] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [quotas_period_start_index]    Script Date: 19/12/2025 13:45:49 ******/
CREATE NONCLUSTERED INDEX [quotas_period_start_index] ON [dbo].[quotas]
(
	[period_start] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [quotas_status_index]    Script Date: 19/12/2025 13:45:49 ******/
CREATE NONCLUSTERED INDEX [quotas_status_index] ON [dbo].[quotas]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [role_user_role_id_user_id_unique]    Script Date: 19/12/2025 13:45:49 ******/
CREATE UNIQUE NONCLUSTERED INDEX [role_user_role_id_user_id_unique] ON [dbo].[role_user]
(
	[role_id] ASC,
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [roles_name_unique]    Script Date: 19/12/2025 13:45:49 ******/
CREATE UNIQUE NONCLUSTERED INDEX [roles_name_unique] ON [dbo].[roles]
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [sessions_last_activity_index]    Script Date: 19/12/2025 13:45:49 ******/
CREATE NONCLUSTERED INDEX [sessions_last_activity_index] ON [dbo].[sessions]
(
	[last_activity] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [sessions_user_id_index]    Script Date: 19/12/2025 13:45:49 ******/
CREATE NONCLUSTERED INDEX [sessions_user_id_index] ON [dbo].[sessions]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [shipment_status_logs_shipment_id_recorded_at_index]    Script Date: 19/12/2025 13:45:49 ******/
CREATE NONCLUSTERED INDEX [shipment_status_logs_shipment_id_recorded_at_index] ON [dbo].[shipment_status_logs]
(
	[shipment_id] ASC,
	[recorded_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [shipment_status_logs_status_index]    Script Date: 19/12/2025 13:45:49 ******/
CREATE NONCLUSTERED INDEX [shipment_status_logs_status_index] ON [dbo].[shipment_status_logs]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [shipments_po_id_index]    Script Date: 19/12/2025 13:45:49 ******/
CREATE NONCLUSTERED INDEX [shipments_po_id_index] ON [dbo].[shipments]
(
	[purchase_order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [shipments_ship_date_index]    Script Date: 19/12/2025 13:45:49 ******/
CREATE NONCLUSTERED INDEX [shipments_ship_date_index] ON [dbo].[shipments]
(
	[ship_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [shipments_shipment_number_unique]    Script Date: 19/12/2025 13:45:49 ******/
CREATE UNIQUE NONCLUSTERED INDEX [shipments_shipment_number_unique] ON [dbo].[shipments]
(
	[shipment_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [shipments_status_index]    Script Date: 19/12/2025 13:45:49 ******/
CREATE NONCLUSTERED INDEX [shipments_status_index] ON [dbo].[shipments]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [users_email_unique]    Script Date: 19/12/2025 13:45:49 ******/
CREATE UNIQUE NONCLUSTERED INDEX [users_email_unique] ON [dbo].[users]
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [users_is_active_index]    Script Date: 19/12/2025 13:45:49 ******/
CREATE NONCLUSTERED INDEX [users_is_active_index] ON [dbo].[users]
(
	[is_active] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [users_last_login_at_index]    Script Date: 19/12/2025 13:45:49 ******/
CREATE NONCLUSTERED INDEX [users_last_login_at_index] ON [dbo].[users]
(
	[last_login_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[failed_jobs] ADD  DEFAULT (getdate()) FOR [failed_at]
GO
ALTER TABLE [dbo].[hs_code_pk_mappings] ADD  DEFAULT ('') FOR [period_key]
GO
ALTER TABLE [dbo].[hs_code_pk_mappings] ADD  DEFAULT ('') FOR [desc]
GO
ALTER TABLE [dbo].[import_items] ADD  DEFAULT ('raw') FOR [status]
GO
ALTER TABLE [dbo].[imports] ADD  DEFAULT ('uploaded') FOR [status]
GO
ALTER TABLE [dbo].[imports] ADD  DEFAULT ('0') FOR [total_rows]
GO
ALTER TABLE [dbo].[imports] ADD  DEFAULT ('0') FOR [valid_rows]
GO
ALTER TABLE [dbo].[imports] ADD  DEFAULT ('0') FOR [error_rows]
GO
ALTER TABLE [dbo].[po_line_voyage_splits] ADD  DEFAULT ('1') FOR [seq_no]
GO
ALTER TABLE [dbo].[po_line_voyage_splits] ADD  DEFAULT ('0') FOR [qty]
GO
ALTER TABLE [dbo].[po_lines] ADD  DEFAULT ('0') FOR [qty_received]
GO
ALTER TABLE [dbo].[po_lines] ADD  DEFAULT ('ok') FOR [validation_status]
GO
ALTER TABLE [dbo].[po_lines] ADD  DEFAULT ('0') FOR [needs_reallocation]
GO
ALTER TABLE [dbo].[product_quota_mappings] ADD  DEFAULT ('1') FOR [priority]
GO
ALTER TABLE [dbo].[product_quota_mappings] ADD  DEFAULT ('0') FOR [is_primary]
GO
ALTER TABLE [dbo].[product_quota_mappings] ADD  DEFAULT ('auto') FOR [source]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT ('1') FOR [is_active]
GO
ALTER TABLE [dbo].[purchase_orders] ADD  DEFAULT ('0') FOR [quantity_shipped]
GO
ALTER TABLE [dbo].[purchase_orders] ADD  DEFAULT ('0') FOR [quantity_received]
GO
ALTER TABLE [dbo].[purchase_orders] ADD  DEFAULT ('ordered') FOR [status]
GO
ALTER TABLE [dbo].[quotas] ADD  DEFAULT ('available') FOR [status]
GO
ALTER TABLE [dbo].[quotas] ADD  DEFAULT ('1') FOR [is_active]
GO
ALTER TABLE [dbo].[quotas] ADD  DEFAULT ('1') FOR [is_min_inclusive]
GO
ALTER TABLE [dbo].[quotas] ADD  DEFAULT ('1') FOR [is_max_inclusive]
GO
ALTER TABLE [dbo].[roles] ADD  DEFAULT ('1') FOR [is_active]
GO
ALTER TABLE [dbo].[shipment_status_logs] ADD  DEFAULT (getdate()) FOR [recorded_at]
GO
ALTER TABLE [dbo].[shipments] ADD  DEFAULT ('0') FOR [quantity_received]
GO
ALTER TABLE [dbo].[shipments] ADD  DEFAULT ('pending') FOR [status]
GO
ALTER TABLE [dbo].[shipments] ADD  DEFAULT ('0') FOR [auto_generated]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ('1') FOR [is_active]
GO
ALTER TABLE [dbo].[audit_logs]  WITH CHECK ADD  CONSTRAINT [audit_logs_user_id_foreign] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[audit_logs] CHECK CONSTRAINT [audit_logs_user_id_foreign]
GO
ALTER TABLE [dbo].[import_items]  WITH CHECK ADD  CONSTRAINT [import_items_import_id_foreign] FOREIGN KEY([import_id])
REFERENCES [dbo].[imports] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[import_items] CHECK CONSTRAINT [import_items_import_id_foreign]
GO
ALTER TABLE [dbo].[imports]  WITH CHECK ADD  CONSTRAINT [imports_created_by_foreign] FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[imports] CHECK CONSTRAINT [imports_created_by_foreign]
GO
ALTER TABLE [dbo].[permission_role]  WITH CHECK ADD  CONSTRAINT [permission_role_permission_id_foreign] FOREIGN KEY([permission_id])
REFERENCES [dbo].[permissions] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[permission_role] CHECK CONSTRAINT [permission_role_permission_id_foreign]
GO
ALTER TABLE [dbo].[permission_role]  WITH CHECK ADD  CONSTRAINT [permission_role_role_id_foreign] FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[permission_role] CHECK CONSTRAINT [permission_role_role_id_foreign]
GO
ALTER TABLE [dbo].[po_headers]  WITH CHECK ADD  CONSTRAINT [po_headers_created_by_foreign] FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[po_headers] CHECK CONSTRAINT [po_headers_created_by_foreign]
GO
ALTER TABLE [dbo].[po_line_voyage_splits]  WITH CHECK ADD  CONSTRAINT [po_line_voyage_splits_created_by_foreign] FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[po_line_voyage_splits] CHECK CONSTRAINT [po_line_voyage_splits_created_by_foreign]
GO
ALTER TABLE [dbo].[po_line_voyage_splits]  WITH CHECK ADD  CONSTRAINT [po_line_voyage_splits_po_line_id_foreign] FOREIGN KEY([po_line_id])
REFERENCES [dbo].[po_lines] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[po_line_voyage_splits] CHECK CONSTRAINT [po_line_voyage_splits_po_line_id_foreign]
GO
ALTER TABLE [dbo].[po_lines]  WITH CHECK ADD  CONSTRAINT [po_lines_hs_code_id_foreign] FOREIGN KEY([hs_code_id])
REFERENCES [dbo].[hs_code_pk_mappings] ([id])
GO
ALTER TABLE [dbo].[po_lines] CHECK CONSTRAINT [po_lines_hs_code_id_foreign]
GO
ALTER TABLE [dbo].[po_lines]  WITH CHECK ADD  CONSTRAINT [po_lines_po_header_id_foreign] FOREIGN KEY([po_header_id])
REFERENCES [dbo].[po_headers] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[po_lines] CHECK CONSTRAINT [po_lines_po_header_id_foreign]
GO
ALTER TABLE [dbo].[product_quota_mappings]  WITH CHECK ADD  CONSTRAINT [product_quota_mappings_product_id_foreign] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[product_quota_mappings] CHECK CONSTRAINT [product_quota_mappings_product_id_foreign]
GO
ALTER TABLE [dbo].[product_quota_mappings]  WITH CHECK ADD  CONSTRAINT [product_quota_mappings_quota_id_foreign] FOREIGN KEY([quota_id])
REFERENCES [dbo].[quotas] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[product_quota_mappings] CHECK CONSTRAINT [product_quota_mappings_quota_id_foreign]
GO
ALTER TABLE [dbo].[purchase_order_quota]  WITH CHECK ADD  CONSTRAINT [purchase_order_quota_purchase_order_id_foreign] FOREIGN KEY([purchase_order_id])
REFERENCES [dbo].[purchase_orders] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[purchase_order_quota] CHECK CONSTRAINT [purchase_order_quota_purchase_order_id_foreign]
GO
ALTER TABLE [dbo].[purchase_order_quota]  WITH CHECK ADD  CONSTRAINT [purchase_order_quota_quota_id_foreign] FOREIGN KEY([quota_id])
REFERENCES [dbo].[quotas] ([id])
GO
ALTER TABLE [dbo].[purchase_order_quota] CHECK CONSTRAINT [purchase_order_quota_quota_id_foreign]
GO
ALTER TABLE [dbo].[purchase_orders]  WITH CHECK ADD  CONSTRAINT [purchase_orders_created_by_foreign] FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[purchase_orders] CHECK CONSTRAINT [purchase_orders_created_by_foreign]
GO
ALTER TABLE [dbo].[purchase_orders]  WITH CHECK ADD  CONSTRAINT [purchase_orders_product_id_foreign] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[purchase_orders] CHECK CONSTRAINT [purchase_orders_product_id_foreign]
GO
ALTER TABLE [dbo].[purchase_orders]  WITH CHECK ADD  CONSTRAINT [purchase_orders_quota_id_foreign] FOREIGN KEY([quota_id])
REFERENCES [dbo].[quotas] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[purchase_orders] CHECK CONSTRAINT [purchase_orders_quota_id_foreign]
GO
ALTER TABLE [dbo].[quota_histories]  WITH CHECK ADD  CONSTRAINT [quota_histories_created_by_foreign] FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[quota_histories] CHECK CONSTRAINT [quota_histories_created_by_foreign]
GO
ALTER TABLE [dbo].[quota_histories]  WITH CHECK ADD  CONSTRAINT [quota_histories_quota_id_foreign] FOREIGN KEY([quota_id])
REFERENCES [dbo].[quotas] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[quota_histories] CHECK CONSTRAINT [quota_histories_quota_id_foreign]
GO
ALTER TABLE [dbo].[role_user]  WITH CHECK ADD  CONSTRAINT [role_user_role_id_foreign] FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[role_user] CHECK CONSTRAINT [role_user_role_id_foreign]
GO
ALTER TABLE [dbo].[role_user]  WITH CHECK ADD  CONSTRAINT [role_user_user_id_foreign] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[role_user] CHECK CONSTRAINT [role_user_user_id_foreign]
GO
ALTER TABLE [dbo].[shipment_receipts]  WITH CHECK ADD  CONSTRAINT [shipment_receipts_created_by_foreign] FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[shipment_receipts] CHECK CONSTRAINT [shipment_receipts_created_by_foreign]
GO
ALTER TABLE [dbo].[shipment_receipts]  WITH CHECK ADD  CONSTRAINT [shipment_receipts_shipment_id_foreign] FOREIGN KEY([shipment_id])
REFERENCES [dbo].[shipments] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[shipment_receipts] CHECK CONSTRAINT [shipment_receipts_shipment_id_foreign]
GO
ALTER TABLE [dbo].[shipment_status_logs]  WITH CHECK ADD  CONSTRAINT [shipment_status_logs_shipment_id_foreign] FOREIGN KEY([shipment_id])
REFERENCES [dbo].[shipments] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[shipment_status_logs] CHECK CONSTRAINT [shipment_status_logs_shipment_id_foreign]
GO
ALTER TABLE [dbo].[shipments]  WITH CHECK ADD  CONSTRAINT [shipments_parent_shipment_id_foreign] FOREIGN KEY([parent_shipment_id])
REFERENCES [dbo].[shipments] ([id])
GO
ALTER TABLE [dbo].[shipments] CHECK CONSTRAINT [shipments_parent_shipment_id_foreign]
GO
ALTER TABLE [dbo].[shipments]  WITH CHECK ADD  CONSTRAINT [shipments_purchase_order_id_foreign] FOREIGN KEY([purchase_order_id])
REFERENCES [dbo].[purchase_orders] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[shipments] CHECK CONSTRAINT [shipments_purchase_order_id_foreign]
GO
ALTER TABLE [dbo].[import_items]  WITH CHECK ADD CHECK  (([status]=N'error' OR [status]=N'normalized' OR [status]=N'raw'))
GO
ALTER TABLE [dbo].[imports]  WITH CHECK ADD CHECK  (([status]=N'failed' OR [status]=N'published' OR [status]=N'publishing' OR [status]=N'ready' OR [status]=N'validating' OR [status]=N'uploaded'))
GO
ALTER TABLE [dbo].[po_lines]  WITH CHECK ADD CHECK  (([validation_status]=N'error' OR [validation_status]=N'warn' OR [validation_status]=N'ok'))
GO
ALTER TABLE [dbo].[purchase_orders]  WITH CHECK ADD CHECK  (([status]=N'cancelled' OR [status]=N'completed' OR [status]=N'partial' OR [status]=N'in_transit' OR [status]=N'ordered' OR [status]=N'draft'))
GO
ALTER TABLE [dbo].[quota_histories]  WITH CHECK ADD CHECK  (([change_type]=N'manual_adjustment' OR [change_type]=N'switch_over' OR [change_type]=N'actual_increase' OR [change_type]=N'actual_decrease' OR [change_type]=N'forecast_increase' OR [change_type]=N'forecast_decrease'))
GO
ALTER TABLE [dbo].[quotas]  WITH CHECK ADD CHECK  (([status]=N'depleted' OR [status]=N'limited' OR [status]=N'available'))
GO
ALTER TABLE [dbo].[shipments]  WITH CHECK ADD CHECK  (([status]=N'cancelled' OR [status]=N'delivered' OR [status]=N'partial' OR [status]=N'in_transit' OR [status]=N'pending'))
GO
USE [master]
GO
